.main {
	display: flex;
	align-items: center;
	justify-content: center;
	width: 85%;
}

.container {
	display: flex;
	flex-direction: column;
	width: 50%;
	height: 6em;
	background: #e9e8e8;
	border: 1px solid gray;
	border-radius: 0.5em;
	box-shadow: 1px 1px gray;
	padding: 1em;
	margin-top: 1em;
}

.input {
	padding: 1em;
	border-radius: 1em;
	margin-top: 0.5em;
	outline: none;
	border: none;
}

.btn {
	margin-left: 1em;
	margin-top: 1em;
}
