.container {
	display: flex;
	flex-direction: column;
	width: 50%;
	padding: 1em;
	margin-top: 1em;
}

.input {
	padding: 1em;
	border-radius: 1em;
	margin-top: 0.5em;
	outline: none;
	border: none;
	background: #e9e8e8;
}
